%container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(2 * var(--base-unit));
  margin: 0 var(--base-unit);
  border-radius: var(--radius);
  font-weight: 600;
  margin-top: var(--base-unit);
  box-shadow: var(--shaddow);

}

section {
  max-width: calc((2 * var(--base-unit)) + 54rem);
  margin: 0 auto;

  &.light {
    div {
      @extend %container;
      background: var(--clr-list--light);
    }
  }

  &.dark {
    div {
      @extend %container;
      background: var(--clr-list--dark);
    }
  }


  input {
      font: inherit;
      color: inherit;
      width: auto;
      padding: 1.1rem;
      background: none;
      border: none;
    }
  }



  
