%container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(2 * var(--base-unit));
  margin: 0 var(--base-unit);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

section {
  max-width: calc((2 * var(--base-unit)) + 54rem);
  margin: 0 auto;

  &.light {
    div {
      @extend %container;
      background: var(--clr-list--light);
    }
  }

  &.dark {
    div {
      @extend %container;
      background: var(--clr-list--dark);
    }
  }

  h3 {
    padding: 2rem;
    font-weight: 400;
  }

  button {
    font: inherit;
    color: inherit;
    width: auto;
    height: 4.2rem;
    padding: 1.1rem 2rem;
    background: none;
    border: none;
  }
}
