%container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(2 * var(--base-unit));
  margin: 0 var(--base-unit);
  border-radius: var(--radius);
  font-weight: 600;
  margin-top: var(--base-unit);
  box-shadow: var(--shaddow);
}

%button {
  cursor: pointer;
  font: inherit;
  color: inherit;
  width: auto;
  height: 4.2rem;
  padding: 1.1rem 2rem;
  background: none;
  border: none;
}

section {
  max-width: calc((2 * var(--base-unit)) + 54rem);
  margin: 0 auto;

  &.light {
    div {
      @extend %container;
      background: var(--clr-list--light);
    }

    button {
      @extend %button;
      &:hover {
        color: var(--clr-font-secondary--light);
      }
  
      &.selected {
        color: var(--bg-active);
      }
    }
  }

  &.dark {
    div {
      @extend %container;
      background: var(--clr-list--dark);
    }
    button {
      @extend %button;
      &:hover {
        color: var(--clr-font-secondary--dark);
      }
  
      &.selected {
        color: var(--bg-active);
      }
    }
  }

}





  

