@import '../../breakpoints.scss';

.tasks {
  margin-top: calc(var(--base-unit) * -4);

  @media (min-width: $bp-large) {
    margin-top: calc(var(--base-unit) * -5.2);
  }
  
  p {
    text-align: center;
    margin-top: var(--base-unit);
    padding-bottom: calc(var(--base-unit) * 2);
  }
 
  .welcome {
    text-align: center;
    margin: calc(var(--base-unit) * 4) auto;
    max-width: 54rem;

    @media (min-width: $bp-large) {
      margin: calc(var(--base-unit) * 5) auto;

    }

    h2 {
      text-transform: uppercase;
    }

    h3 {
      margin-top: calc(var(--base-unit) * .125);
      padding: 0 var(--base-unit);
      font-size: clamp(1.8rem, 3vw, 2.4rem);


    }

    p {
      margin-top: calc(var(--base-unit) * .5);
      padding: 0 var(--base-unit);
    }
    
  }
   
}

