@import "../../breakpoints.scss";

%circle {
  position: absolute;
  top: calc(var(--base-unit) * 0.55);
  left: calc(var(--base-unit) * 1.8);
  height: 20px;
  width: 20px;
  border-radius: 100%;
  @media (min-width: $bp-large) {
    top: calc(var(--base-unit) * 0.9);
  }
}

%input {
  width: 100%;
  margin: 0 var(--base-unit);
  border-radius: var(--radius);
  border: 1px solid transparent;
  outline: none;
  font: inherit;
  padding-left: calc(var(--base-unit) * 2.15);
}

form {
  max-width: calc((2 * var(--base-unit)) + 54rem);
  margin: 0 auto;
  height: calc(2 * var(--base-unit));

  display: flex;
  position: relative;

  @media (min-width: $bp-large) {
    height: calc(2.75 * var(--base-unit));
  }

  &.light {
    span {
      @extend %circle;
      border: 1px solid var(--clr-stroke--light);
    }

    input {
      @extend %input;
      color: var(--clr-font-secondary--light);
      background: var(--clr-list--light);

      &::placeholder {
        color: var(--clr-font-primary--light);
      }

      &:focus {
        outline: 2px solid var(--bg-active);
      }
    }
  }

  &.dark {
    span {
      @extend %circle;
      border: 1px solid var(--clr-stroke--dark);
    }
    input {
      @extend %input;
      color: var(--clr-font-secondary--dark);
      background: var(--clr-list--dark);

      &::placeholder {
        color: var(--clr-font-primary--dark);
      }

      &:focus {
        outline: 2px solid var(--bg-active);
      }
    }
  }
}
