.item {
  height: calc(2 * var(--base-unit));

  display: flex;
  align-items: center;


  &:first-child {
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
  }

  div {
    margin-left: calc(var(--base-unit) * 0.8325);
    width: 2rem; 
    height: 2rem; 
    border-radius: var(--radius);
  }

  h2 {
    margin-left: calc(var(--base-unit) / 2);
    margin-right: auto;
  }

  button {
    width: 4.8rem;
    height: 4.2rem;
    border: none;

    background: no-repeat center url('../../assets/icon-cross.svg');
    background-size: 1.2rem;
  }
}