@import '../../breakpoints.scss';

%container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(2 * var(--base-unit));
  margin: 0 var(--base-unit);
  border-radius: var(--radius);
  font-weight: 600;
  margin-top: var(--base-unit);
}

%button {
  cursor: pointer;
  font: inherit;
  color: inherit;
  width: auto;
  height: 4.2rem;
  padding: 1.1rem 2rem;
  background: none;
  border: none;
  transition: var(--transition);
}

@mixin buttonLargeBreakpoint {
  position: absolute;
  top: calc(var(--base-unit) * -3);
  left: 50%;
  transform: translateX(-100%);
  background: none;
  box-shadow: none;
  width: 50px;
}

section {
  position: relative;
  max-width: calc((2 * var(--base-unit)) + 54rem);
  margin: 0 auto;

  &.light {
    div {
      @extend %container;
      background: var(--clr-list--light);
      box-shadow: var(--shaddow--light);


      @media (min-width: $bp-large) {
        @include buttonLargeBreakpoint;
      }
    }

    button {
      @extend %button;
      &:hover {
        color: var(--clr-font-secondary--light);
      }
  
      &.selected {
        color: var(--bg-active);
      }
    }
  }

  &.dark {
    div {
      @extend %container;
      background: var(--clr-list--dark);
      box-shadow: var(--shaddow--dark);

      @media (min-width: $bp-large) {
        @include buttonLargeBreakpoint;
      }
    }
    button {
      @extend %button;
      &:hover {
        color: var(--clr-font-secondary--dark);
      }
  
      &.selected {
        color: var(--bg-active);
      }
    }
  }

}





  

