.light {
  height: 100vh;
  color: var(--clr-font-primary--light);
  background: var(--clr-bg--light);
}

.dark {
  height: 100vh;

  color: var(--clr-font-primary--dark);
  background: var(--clr-bg--dark);
}

