.light {
  color: var(--clr-font-primary--light);
  background: var(--clr-bg--light);
  min-height: 100vh;
}

.dark {
  height: 100vh;

  color: var(--clr-font-primary--dark);
  background: var(--clr-bg--dark);
}

