:root {
  --font: 'Josefin Sans', sans-serif;

  --bg-gradient: linear-gradient(135deg, rgb(87, 221, 255), rgb(192, 88, 243));
  --bg-active: #3A7CFD;
  --base-unit: 2.4rem;
  --radius: 5px;
  --shaddow: 0 35px 25px -18px #4c4c553a;
  --transition: all .3s ease-in;

  --clr-bg--light: #F2F2F2;
  --clr-stroke--light: #E3E4F1;
  --clr-font-primary--light: #9495A5;
  --clr-font-secondary--light: #494C6B;
  --clr-font-completed--light: #D1D2DA;
  --clr-list--light: #fff;
  
  --clr-bg--dark: #171823;
  --clr-stroke--dark: #4D5067;
  --clr-font-primary--dark: #5B5E7E;
  --clr-font-secondary--dark: #C8CBE7;
  --clr-font-completed--dark: #4D5067;
  --clr-list--dark: #25273D;

  
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a:link,
a:visited {
  color: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font);
  font-weight: 400;
  line-height: 1.8;
  font-size: 1.2rem;
}

li {
  list-style: none;
}

h2,
h3 {
  font-size: inherit;
}